[Desktop Entry]
Version=1.0
Type=Application
Name=ANSYS_FLUENT
Comment=
Exec=/opt/nesi/share/ANSYS/v201/fluent/bin/fluent
Icon=/opt/nesi/share/ANSYS/v201/Addins/Images/fluent.png
Path=
Terminal=true
StartupNotify=false
