[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cwal219/Desktop/nobackup]
row=6
col=0

[/home/cwal219/Desktop/HIDEOUS_DESKTOP_ONE]
row=2
col=0

[/home/cwal219/Desktop/project]
row=3
col=0

[/home/cwal219/Desktop/Terminal_Emulator.desktop]
row=5
col=0

[/home/cwal219/Desktop/not_working]
row=4
col=0

[/]
row=0
col=0

[/home/cwal219]
row=1
col=0

