[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/opt/nesi/share/MATLAB/R2018b/bin/matlab
GenericName[en_US]=
GenericName=
Icon=/opt/nesi/share/ANSYS/v195/AnsysEM/Linux64/syslib/Bitmaps/HFSS.png
MimeType=
Name[en_US]=MATLAB_2018b
Name=MATLAB2018b
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
