[Desktop Entry]
Comment[en_US]=
Comment=
Exec=Exec=/opt/nesi/share/ANSYS/v201/AnsysEM/Linux64/ansysedt
Icon=/opt/nesi/share/ANSYS/v195/AnsysEM/Linux64/syslib/Bitmaps/HFSS.png
MimeType=
Name[en_US]=HFSS
Name=ANSYSEDT2020a
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
