[Desktop Entry]
Version=1.0
Type=Link
Name=VDT Help
Comment=Instructions for customising desktop.
Icon=help-browser
URL=https://github.com/nesi/nesi-virtual-desktops#customising
