[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cwal219/Desktop/root]
row=1
col=2

[/home/cwal219/Desktop/COMSOL.desktop]
row=0
col=2

[/home/cwal219/Desktop/FENSAP.desktop]
row=0
col=9

[/home/cwal219/Desktop/HFSS (copy 1).desktop]
row=0
col=7

[/home/cwal219/Desktop/Link to Application.desktop]
row=2
col=0

[/home/cwal219/Desktop/HFSS.desktop]
row=0
col=8

[/]
row=0
col=0

[/home/cwal219]
row=1
col=0

