[Desktop Entry]
Version=1.0
Type=Application
Name=CFX
Comment=
Exec=/opt/nesi/share/ANSYS/v201/CFX/bin/cfx5
Icon=/opt/nesi/share/ANSYS/v201/commonfiles/CFX/etc/icons/CFX.ico
Path=
Terminal=true
StartupNotify=false
