[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/opt/nesi/share/ANSYS/v201/Framework/bin/Linux64/runwb2
GenericName[en_US]=
GenericName=
Icon=/opt/nesi/share/ANSYS/v201/commonfiles/images/workbench.ico
MimeType=
Name[en_US]=Workbench
Name=ANSYSEDT2020a
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
