[Desktop Entry]
Version=1.0
Type=Link
Name=FLUENT TUI LIST
Comment=
Icon=accessories-dictionary
URL=https://ansyshelp.ansys.com/account/secured?returnurl=/Views/Secured/corp/v201/en/flu_tcl/flu_tcl.html
